<!-- <pre> {{ post | json }}</pre> -->
<!-- <pre> {{ commentSection.value | json }}</pre> -->

<div class="container">
  <div class="aside">
    <app-tag-list
      *ngIf="post?.tags.length > 0"
      [tags]="post?.tags"
    ></app-tag-list>
    <hr />
    <p>Uploader: {{ post?.author?.username }}</p>
    <p>
      Source: <br />
      {{ post?.source }}
    </p>
    <p>Views: {{ post?.views }}</p>
    <p>Likes: {{ post?.likes?.length }}</p>
    <p>Posted: {{ post?.createdAt | date }}</p>
    <div class="actions">
      <button *ngIf="!editMode" (click)="toggleEditMode()">Edit</button>
      <button *ngIf="!editMode" (click)="like()">Like</button>
      <button *ngIf="!editMode" (click)="flag()">Flag</button>
      <button *ngIf="!editMode" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="main">
    <h1 *ngIf="!post?.image?.data">Loading...</h1>
    <img *ngIf="post?.image?.data" [src]="post.image.data" /> <br />

    <div *ngIf="editMode">
      <form [formGroup]="form" (ngSubmit)="editSubmit()">
        <label for="source">Source: </label><br />
        <input formControlName="source" name="source" /> <br />
        <ng-select
          [items]="editTags"
          bindLabel="name"
          bindValue="_id"
          [multiple]="true"
          [hideSelected]="true"
          formControlName="tags"
        >
        </ng-select>

        <button class="button" type="submit" [disabled]="form.invalid">
          Update
        </button>
        <button (click)="toggleEditMode()">Cancel</button>
      </form>
    </div>

    <br />
    <h2>Comment:</h2>

    <form [formGroup]="commentSection" (ngSubmit)="commentSubmit()">
      <textarea formControlName="comment" name="comment"> </textarea> <br />
      <button class="button" type="submit">Comment</button>
    </form>

    <div class="commentSection">
      <app-comment-box
        *ngFor="let comment of post?.comments"
        [comment]="comment"
        (refresh)="refresh()"
      >
      </app-comment-box>
    </div>
  </div>
</div>
