img {
  max-width: 70vw;
  max-height: 80vh;
}

p {
  overflow-wrap: break-word;
  a {
    text-decoration: none;
    display: inline;
  }
}

.details p {
  margin: 0;
}

.actions {
  margin-top: 20px;
  div {
    display: flex;
    gap: 10px;
    button {
      flex-grow: 1;
    }
  }
}

h4 {
  margin: 0;
}
