<div class="container">
  <div class="aside">
    <app-tag-list
      *ngIf="post?.tags.length > 0"
      [tags]="post?.tags"
    ></app-tag-list>
    <hr />
    <div class="details">
      <p>
        Uploader:
        <a
          [routerLink]="['/user', post?.author?._id]"
          class="w3-border-bottom w3-border-green"
        >
          {{ post?.author?.username }}
        </a>
      </p>
      <p>
        Source:
        <span [innerHtml]="post?.source | linkify"> </span>
      </p>
      <p>Views: {{ post?.views }}</p>
      <p>Likes: {{ post?.likes?.length }}</p>
      <p>Posted: {{ post?.createdAt | date }}</p>
    </div>
    <hr />
    <form
      *ngIf="userCollections"
      [formGroup]="collectionForm"
      (ngSubmit)="saveCollections()"
    >
      <h4>Add to collection:</h4>
      <div *ngFor="let collections of userCollections">
        <input
          class="w3-check"
          type="checkbox"
          formArrayName="collectionTitles"
          name="collectionTitles"
          [value]="collections?._id"
          [checked]="collections.posts.includes(post?._id)"
          (change)="onCheckboxChange($event)"
        />
        {{ collections.title }}
      </div>
      <br />
      <button class="button" type="submit" class="w3-btn w3-green w3-round">
        Save
      </button>
    </form>
    <div
      class="actions"
      *ngIf="!editMode && !userCollections && mAuth?.loggedIn?.user"
    >
      <div>
        <button
          (click)="like()"
          class="w3-button w3-padding-small w3-white w3-border w3-border-blue w3-round"
        >
          Like
        </button>

        <button
          (click)="addToCollectionTrigger()"
          class="w3-button w3-padding-small w3-white w3-border w3-border-green w3-round"
        >
          Save
        </button>
      </div>
      <div class="w3-margin-top">
        <button
          (click)="toggleEditMode()"
          class="w3-button w3-padding-small w3-blue w3-round"
        >
          Edit
        </button>
        <button
          (click)="delete()"
          class="w3-button w3-padding-small w3-red w3-round"
        >
          Delete
        </button>

        <button
          (click)="flag()"
          class="w3-button w3-padding-small w3-dark-grey w3-round"
        >
          Flag
        </button>
      </div>
      <br />
      <a
        [routerLink]="['/flags', post?._id]"
        class="w3-button w3-padding-small w3-white w3-border w3-border-blue w3-round w3-margin-top w3-margin-bottom"
        >Flag history</a
      >
    </div>
  </div>
  <div class="main">
    <h1 *ngIf="!post?.image?.data">Loading...</h1>
    <img *ngIf="post?.image?.data" [src]="post.image.data" /> <br />

    <div *ngIf="editMode">
      <form [formGroup]="form" (ngSubmit)="editSubmit()">
        <label for="source">Source: </label><br />
        <input
          formControlName="source"
          name="source"
          id="source"
          class="w3-input w3-border w3-round"
        />
        <ng-select
          [items]="editTags"
          bindLabel="name"
          bindValue="_id"
          [multiple]="true"
          [hideSelected]="true"
          formControlName="tags"
        >
        </ng-select>

        <button
          class="button"
          type="submit"
          [disabled]="form.invalid"
          class="w3-button w3-padding-small w3-blue w3-round w3-margin-top"
        >
          Update
        </button>
        <button
          (click)="toggleEditMode()"
          class="w3-button w3-padding-small w3-red w3-round w3-margin-top w3-margin-left"
        >
          Cancel
        </button>
      </form>
    </div>

    <br />
    <div *ngIf="mAuth?.loggedIn?.user">
      <h2>Comment:</h2>

      <form [formGroup]="commentSection" (ngSubmit)="commentSubmit()">
        <textarea
          formControlName="comment"
          name="comment"
          class="w3-input w3-border w3-round"
        >
        </textarea>
        <button
          class="button"
          type="submit"
          class="w3-button w3-padding-small w3-green w3-round w3-xlarge w3-margin-top"
        >
          Comment
        </button>
      </form>
    </div>
    <hr />
    <div class="commentSection">
      <h3 *ngIf="post?.comments?.length < 1">No comments yet</h3>
      <app-comment-box
        *ngFor="let comment of post?.comments"
        [comment]="comment"
        (refresh)="refresh()"
        [highlight]="highlightComment == comment._id"
      >
      </app-comment-box>
    </div>
  </div>
</div>
