<div class="meta">
  <img [src]="user?.profilePicture" alt="user pfp" />
  <div class="userData">
    <div>
      <h1>{{ user?.username }}</h1>
      <p class="bio">{{ user?.biography }}</p>
      <a
        *ngIf="user?._id === mAuth?.loggedIn?.user?._id"
        routerLink="/user/settings"
        >Settings</a
      >
    </div>
    <p class="details">Member since {{ user?.createdAt | date }}</p>
  </div>
</div>

<div class="collections">
  <h4 *ngIf="user?._id === mAuth?.loggedIn?.user?._id">
    Generated collections:
  </h4>
  <div class="generated" *ngIf="user?._id === mAuth?.loggedIn?.user?._id">
    <div class="singleCollection genCollection">
      <a routerLink="/collection/likes">Likes</a>
    </div>
  </div>
  <h4>Collections:</h4>
  <div class="created">
    <div *ngFor="let collection of user?.collection" class="singleCollection">
      <a [routerLink]="['/collection', collection?._id]">{{
        collection.title
      }}</a>
    </div>
    <div
      class="singleCollection create"
      *ngIf="user?._id === mAuth?.loggedIn?.user?._id"
    >
      <a routerLink="/collection/create">create collection</a>
    </div>
  </div>
</div>
