<div
  class="w3-modal w3-animate-opacity"
  [class.w3-show]="visible"
  (click)="outside()"
>
  <div
    class="w3-modal-content w3-animate-top w3-card-4"
    style="max-width: 500px"
    (click)="$event.stopPropagation()"
  >
    <header class="w3-padding" [ngClass]="confirmColor">
      <h3>{{ dialogTitle }}</h3>
    </header>
    <div class="w3-container w3-padding">
      <p>{{ dialog }}</p>

      <input
        *ngIf="input"
        type="text"
        [value]="formInput"
        (change)="handleChange($any($event).target.value.trim())"
        trim="blur"
        class="w3-input w3-border w3-round w3-margin-bottom"
      />

      <div class="w3-margin-bottom">
        <button
          class="w3-button w3-padding-small w3-round w3-margin-right"
          [ngClass]="confirmColor"
          (click)="action.emit(formInput)"
        >
          {{ confirmText }}
        </button>
        <button
          class="w3-button w3-padding-small w3-round"
          [ngClass]="closeColor"
          (click)="close.emit()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
