p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  display: inline;
  padding-right: 5px;
}

span {
  display: inline;
  color: #979797;
}

.list {
  min-height: 70vh;
}

.inline {
  min-height: auto;
  div {
    display: inline;
  }
  span {
    padding-right: 15px;
  }
}
