<div class="list" [ngClass]="{ inline: inline }">
  <div *ngFor="let category of tags | keyvalue" [class]="category.key + 'Tags'">
    <p *ngIf="showCategories">{{ category.key }}</p>

    <div *ngFor="let tag of $any(category.value)">
      <a [routerLink]="['/tags', tag._id]">{{ tag.name }}</a>
      <span>{{ tag?.count }}</span>
    </div>
  </div>
</div>

<!-- make category titles conditional and with the ability to stop after n loops -->
<!-- just so it docent go out flying on the main screen when i have 100s of tags -->
