<div class="center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w3-container">
    <label for="username">Username </label>
    <input
      formControlName="username"
      name="username"
      id="username"
      trim="blur"
      class="w3-input w3-border"
    />
    <p
      *ngIf="f?.['username']?.invalid && f?.['username']?.touched"
      class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
    >
      You must provide a valid name
    </p>

    <label for="email">Email </label>
    <input
      formControlName="email"
      name="Email"
      type="email"
      id="email"
      trim="blur"
      class="w3-input w3-border"
    />
    <p
      *ngIf="f?.['email']?.invalid && f?.['email']?.touched"
      class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
    >
      Invalid email.
    </p>

    <label for="password">Password </label>
    <input
      formControlName="password"
      type="password"
      name="password"
      id="password"
      trim="blur"
      class="w3-input w3-border"
    />
    <p
      *ngIf="f?.['password']?.invalid && f?.['password']?.touched"
      class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
    >
      That password sucks...
    </p>

    <label for="confirmPassword">Confirm Password </label>
    <input
      formControlName="confirmPassword"
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      trim="blur"
      class="w3-input w3-border"
    />
    <p
      *ngIf="f?.['confirmPassword']?.errors?.['mustMatch'] && f?.['confirmPassword']?.touched"
      class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
    >
      Passwords must match.
    </p>

    <button
      class="button"
      type="submit"
      [disabled]="registerForm.invalid"
      class="w3-button w3-padding-small w3-green w3-round w3-xlarge w3-margin-top"
    >
      Register
    </button>
  </form>
  <p class="w3-center">
    Already have an account?
    <a
      routerLink="/auth/login"
      class="w3-button w3-padding-small w3-blue w3-round w3-small"
    >
      Login
    </a>
  </p>
</div>
