<a routerLink="/gallery/upload">Upload</a>

<br />
<br />

<!-- <pre> {{ posts | json }}</pre> -->
<!-- <pre> {{ visibleTags | json }}</pre> -->

<div class="container">
  <div class="aside">
    <a *ngFor="let tag of visibleTags" [routerLink]="['/tags', tag._id]">
      {{ tag.name }}
    </a>
  </div>
  <div class="main">
    <div class="imagePost" *ngFor="let post of posts">
      <a [routerLink]="['/gallery', post._id]">
        <img [src]="post.image.thumbnail" />
      </a>
    </div>
  </div>
</div>
