.main {
  display: flex;
}

.imagePost {
  padding: 10px;

  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.search {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
  ng-select {
    width: 70vw;
  }
  form {
    display: flex;
    gap: 10px;
  }
  select {
    width: max-content;
  }
}
