<!-- <pre> {{ posts | json }}</pre> -->
<!-- <pre> {{ visibleTags | json }}</pre> -->
<!-- <pre> {{ searchForm.value | json }}</pre> -->

<div class="search">
  <a routerLink="/gallery/upload">Upload</a>
  <form [formGroup]="searchForm" (ngSubmit)="startSearch()">
    <ng-select
      [items]="tags"
      bindLabel="name"
      bindValue="name"
      [multiple]="true"
      [hideSelected]="true"
      formControlName="tags"
    >
    </ng-select>

    <select formControlName="order" name="order">
      <option value="byDate">By date</option>
      <option value="byScore">By score</option>
      <option value="byViews">By views</option>
    </select>

    <button>Search</button>
  </form>
</div>
<div class="container">
  <div class="aside">
    <app-tag-list
      *ngIf="visibleTags.length > 0"
      [tags]="visibleTags"
      [showCategories]="false"
    ></app-tag-list>
  </div>
  <div class="main">
    <div class="imagePost" *ngFor="let post of posts">
      <a [routerLink]="['/gallery', post._id]">
        <img [src]="post.image.thumbnail" />
      </a>
    </div>
  </div>
  <div class="pageControl">
    <a [routerLink]="['/gallery/page', 1]" *ngIf="searchForm.value.page != 1"
      >«</a
    >
    {{ searchForm.value.page }} / {{ availablePages }}
    <a
      [routerLink]="['/gallery/page', 2]"
      *ngIf="searchForm.value.page != availablePages"
    >
      »
    </a>
  </div>
</div>
