.main {
  display: flex;
}

.imagePost {
  padding: 10px;

  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}
