.all {
  padding: 20px;
}

.nothing {
  text-align: center;
  background-color: #e9e9e9;
  padding: 50px;
  font-size: larger;
  font-weight: bold;
}

.flagBox {
  background-color: #e9e9e9;
  padding: 10px;
  margin: 10px;
}
