<app-modal
  [visible]="deleteModal"
  dialogTitle="Confirm deletion?"
  dialog="Are you sure you want to delete this? This action cannot be undone."
  confirmColor="w3-red"
  closeColor="w3-blue"
  (close)="deleteModalToggle()"
  (action)="delete()"
></app-modal>
<div class="heading">
  <div class="topH">
    <h1>{{ collection?.title }}</h1>
    <div *ngIf="collection?.author === mAuth?.loggedIn?.user?._id">
      <button
        *ngIf="editIsPossible"
        (click)="toggleEditMode()"
        class="w3-button w3-padding-small w3-blue w3-round w3-large"
      >
        Edit
      </button>
      <button
        *ngIf="editIsPossible"
        (click)="deleteModalToggle()"
        class="w3-button w3-padding-small w3-red w3-round w3-large w3-margin-left"
      >
        Delete
      </button>
    </div>
  </div>
  <p>{{ collection?.description }}</p>

  <app-tag-list
    *ngIf="visibleTags.length > 0"
    [tags]="visibleTags"
    [showCategories]="false"
    [inline]="true"
  ></app-tag-list>
</div>
<form
  *ngIf="editMode"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="w3-container w3-padding-32"
>
  <h1>Edit this collection:</h1>
  <label for="title">Title: </label><br />
  <input
    formControlName="title"
    name="title"
    id="title"
    trim="blur"
    class="w3-input w3-border"
  />
  <p
    *ngIf="f?.['title']?.invalid && f?.['title']?.touched"
    class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
  >
    You bust provide a title
  </p>
  <br />

  <label for="description">Description: </label><br />
  <textarea
    formControlName="description"
    name="description"
    id="description"
    trim="blur"
    class="w3-input w3-border"
  >
  </textarea>
  <p
    *ngIf="f?.['description']?.invalid && f?.['description']?.touched"
    class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
  >
    Invalid description ({{ 20 - (form.value.description?.length || 0) }} more
    characters)
  </p>

  <button
    class="button"
    type="submit"
    [disabled]="form.invalid"
    class="w3-button w3-padding-small w3-green w3-round w3-xlarge w3-margin-top"
  >
    Submit
  </button>
</form>
<div class="images">
  <a
    *ngFor="let post of collection?.posts"
    [routerLink]="['/gallery', post._id]"
  >
    <img [src]="post.image?.thumbnail" class="w3-round" />
  </a>
  <h3 *ngIf="collection?.posts?.length < 1">No images yet.</h3>
</div>
