.heading {
  min-height: 20vh;
  background-color: #eee;
  padding: 2vh 4vw;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  a {
    padding: 10px;
  }
  img {
    max-width: 150px;
    max-height: 150px;
  }
}

.images {
  padding-top: 20px;
  width: 90vw;
  margin: auto;
}

form {
  width: 30vw;
  margin: auto;
}

.topH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    height: max-content;
    margin-top: 22px;
  }
}
