<!-- <pre>{{ collection | json }}</pre> -->
<!-- <pre>Visibletags: {{ visibleTags | json }}</pre> -->

<div class="heading">
  <div class="topH">
    <h1>{{ collection?.title }}</h1>
    <div *ngIf="collection?.author === mAuth?.loggedIn?.user?._id">
      <button *ngIf="editIsPossible" (click)="toggleEditMode()">Edit</button>
      <button *ngIf="editIsPossible" (click)="delete()">Delete</button>
    </div>
  </div>
  <p>{{ collection?.description }}</p>

  <app-tag-list
    *ngIf="visibleTags.length > 0"
    [tags]="visibleTags"
    [showCategories]="false"
    [inline]="true"
  ></app-tag-list>
</div>
<form *ngIf="editMode" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Edit this collection:</h1>
  <label for="title">Title: </label><br />
  <input formControlName="title" name="title" /> <br />
  <span *ngIf="f?.['title']?.invalid && f?.['title']?.touched">
    You bust provide a title
  </span>

  <label for="description">Description: </label><br />
  <textarea formControlName="description" name="description"> </textarea> <br />
  <span *ngIf="f?.['description']?.invalid && f?.['description']?.touched">
    Invalid description ({{ 20 - (form.value.description?.length || 0) }} more
    characters)
    <br />
  </span>

  <button class="button" type="submit" [disabled]="form.invalid">Submit</button>
</form>
<div class="images">
  <a
    *ngFor="let post of collection?.posts"
    [routerLink]="['/gallery', post._id]"
  >
    <img [src]="post.image.thumbnail" />
  </a>
  <h3 *ngIf="collection?.posts?.length < 1">No images yet.</h3>
</div>

<br />
<br />
<br />
