<app-modal
  [visible]="deleteModal"
  dialogTitle="Confirm deletion?"
  dialog="Are you sure you want to delete this? This action cannot be undone."
  confirmColor="w3-red"
  closeColor="w3-blue"
  (close)="deleteModalToggle()"
  (action)="delete()"
></app-modal>
<app-modal
  [visible]="flagModal"
  [input]="true"
  dialogTitle="Flag this post?"
  dialog="Whats the problem, please describe with as much detail as possible. This action cannot be undone and it will be forever visible by others."
  confirmColor="w3-dark-grey"
  (close)="flagModalToggle()"
  (action)="flag($event)"
></app-modal>
<app-modal
  [visible]="editModal"
  [input]="true"
  [inputValue]="comment?.body"
  dialogTitle="Edit comment"
  dialog=""
  (close)="editModalToggle()"
  (action)="edit($event)"
></app-modal>
<div class="w3-card w3-round-large commentBox" [ngClass]="{ highlight }">
  <div class="meta">
    <a [routerLink]="['/user', comment.author._id]">
      <img [src]="comment?.author?.profilePicture" alt="" />
    </a>
    <div>
      <p>
        <a [routerLink]="['/user', comment.author._id]">
          {{ comment?.author?.username }}
        </a>
      </p>
      <p class="details">
        {{ comment?.createdAt | date : "dd/MMM/yy, HH:mm" }}
        <span *ngIf="comment?.createdAt !== comment.updatedAt">
          • edited at {{ comment.updatedAt | date : "dd/MMM/yy, HH:mm" }}</span
        >
      </p>
    </div>
  </div>
  <div class="content">{{ comment?.body }}</div>
  <div
    class="actions"
    *ngIf="mAuth?.loggedIn?.user && !disableActions; else notLoggedIn"
  >
    <div>
      <button
        (click)="like()"
        class="w3-button w3-padding-small w3-green w3-round"
      >
        {{ comment?.likes.length }} |
        {{
          comment?.likes.includes(mAuth.loggedIn?.user?._id) ? "Liked!" : "Like"
        }}
      </button>
    </div>
    <div *ngIf="mAuth?.loggedIn?.user?._id !== comment?.author?._id">
      <button
        (click)="flagModalToggle()"
        class="w3-button w3-padding-small w3-dark-gray w3-round"
      >
        Flag
      </button>

      <button
        *ngIf="mAuth?.loggedIn?.user?._id !== comment?.author?._id"
        (click)="voteDelete()"
        class="w3-button w3-padding-small w3-red w3-round"
      >
        {{
          comment?.deletionVotes.includes(mAuth.loggedIn?.user?._id)
            ? "Voted"
            : "Vote Delete"
        }}
      </button>
    </div>
    <div *ngIf="mAuth?.loggedIn?.user?._id === comment?.author?._id">
      <button
        (click)="editModalToggle()"
        class="w3-button w3-padding-small w3-blue w3-round"
      >
        Edit
      </button>
      <button
        (click)="deleteModalToggle()"
        class="w3-button w3-padding-small w3-red w3-round"
      >
        Delete
      </button>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <p style="margin: 0">{{ comment?.likes.length }} likes</p>
  </ng-template>
</div>
