<div class="w3-card w3-round-large commentBox" [ngClass]="{ highlight }">
  <div class="meta">
    <a [routerLink]="['/user', comment.author._id]">
      <img [src]="comment?.author?.profilePicture" alt="" />
    </a>
    <div>
      <p>
        <a [routerLink]="['/user', comment.author._id]">
          {{ comment?.author?.username }}
        </a>
      </p>
      <p class="details">
        {{ comment?.createdAt | date }}
        <span *ngIf="comment?.createdAt !== comment.updatedAt">
          • edited at {{ comment.updatedAt | date }}</span
        >
      </p>
    </div>
  </div>
  <div class="content">{{ comment?.body }}</div>
  <div
    class="actions"
    *ngIf="mAuth?.loggedIn?.user && !disableActions; else notLoggedIn"
  >
    <div>
      <button
        (click)="like()"
        class="w3-button w3-padding-small w3-green w3-round"
      >
        {{ comment?.likes.length }} likes
      </button>
    </div>
    <div>
      <button
        (click)="flag()"
        class="w3-button w3-padding-small w3-dark-gray w3-round"
      >
        flag
      </button>
      <button
        (click)="edit()"
        *ngIf="mAuth?.loggedIn?.user == comment?.author?._id"
        class="w3-button w3-padding-small w3-blue w3-round"
      >
        edit
      </button>
      <button
        (click)="delete()"
        class="w3-button w3-padding-small w3-red w3-round"
      >
        delete
      </button>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <p style="margin: 0">{{ comment?.likes.length }} likes</p>
  </ng-template>
</div>
