<div class="tagPage">
  <div class="description">
    <h1>{{ tag?.name }}</h1>
    <p>{{ tag?.description }}</p>
    <p>
      Category: <b>{{ tag?.category }}</b>
    </p>
    <p>
      Post count: <b>{{ tag?.count }}</b>
    </p>
    <div
      *ngIf="mAuth?.loggedIn?.user"
      class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue w3-padding-16 lockedStatus"
    >
      <div *ngIf="tag?.lockVotes?.length < 5; else locked">
        <p>
          This tag can be edited freely, feel free to provide more information
          about the subject.
        </p>
        <p>If you think this tag is perfect as it is, vote to lock it.</p>
        <div class="actions w3-padding-top-24">
          <button
            (click)="toggleEdit()"
            class="w3-button w3-padding-small w3-blue w3-round"
          >
            Edit
          </button>
          <button
            (click)="voteLock()"
            class="w3-button w3-padding-small w3-green w3-round"
          >
            {{
              tag?.lockVotes?.includes(mAuth.loggedIn?.user?._id)
                ? "Voted"
                : "Vote Lock"
            }}
          </button>
          <button
            (click)="voteDelete()"
            class="w3-button w3-padding-small w3-red w3-round"
          >
            {{
              tag?.deletionVotes?.includes(mAuth.loggedIn?.user?._id)
                ? "Voted"
                : "Vote Delete"
            }}
          </button>
        </div>
      </div>
      <ng-template #locked>
        <div class="lockedStatus">
          <p>This tag has been locked by a moderator and cannot be edited.</p>
        </div>
      </ng-template>
    </div>

    <div *ngIf="editMode">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label><br />
        <input
          formControlName="name"
          name="name"
          trim="blur"
          class="w3-input w3-border w3-round"
        />
        <p
          *ngIf="f?.['name']?.errors?.['notUnique']"
          class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
        >
          This tag already exists.
        </p>
        <p
          *ngIf="f?.['name']?.errors?.['minlength'] && f?.['name']?.touched"
          class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
        >
          Invalid name, must be minimum 3 characters
        </p>
        <br />

        <label for="description">Description</label><br />
        <textarea
          formControlName="description"
          name="description"
          trim="blur"
          class="w3-input w3-border w3-round"
        >
        </textarea>
        <p
          *ngIf="f?.['description']?.invalid && f?.['description']?.touched"
          class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding"
        >
          Invalid description ({{
            50 - (editForm.value.description?.length || 50)
          }}
          more characters)
        </p>
        <br />
        <label for="category">Category</label><br />
        <select
          formControlName="category"
          name="category"
          class="w3-select w3-border w3-round"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
        <button
          class="button"
          type="submit"
          [disabled]="editForm.invalid"
          [disabled]="editForm.pristine"
          class="w3-button w3-padding-small w3-green w3-round w3-xlarge w3-margin-top"
        >
          Update
        </button>
      </form>
    </div>
  </div>
  <div class="examples">
    <h4>Example images:</h4>
    <div>
      <a
        *ngFor="let post of tag?.example"
        [routerLink]="['/gallery', post._id]"
      >
        <img [src]="post.image?.thumbnail" class="w3-round" />
      </a>
    </div>
  </div>
</div>
