.tagPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "description examples";
  min-height: 80vh;
}

.description,
.examples {
  padding: 0 30px;
}

.description {
  grid-area: description;
}

.examples {
  grid-area: examples;
  border-left: 1px solid #333;
  div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    a {
      padding: 10px;
    }
  }
}

.actions {
  display: flex;
  gap: 10px;
  button {
    flex-grow: 1;
  }
}

.lockedStatus {
  * {
    margin: 0;
  }
}
